<h1>Create a New Recipe</h1>

<%= form_for @recipe do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.fields_for :ingredients do |ing| %>
        <ul>
            <%= ing.label :name %>
            <%= ing.text_field :name %><br>
            <%= ing.label :quantity %>
            <%= ing.text_field :quantity %><br>
        </ul>
    <% end %>
<%= f.submit %>
<% end %>